Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_github
  IdentitiesOnly yes
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

# Personal GitHub account: yutoaoki412. Use this alias in Git remotes.
Host github-yutoaoki412
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_yutoaoki412
  IdentitiesOnly yes
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}
